<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo-uno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Titulo del hijo</h2>
    <h3>Lista de Usuarios</h3>
    <ul>
      <li>elemento uno</li>
      <li>elemento uno</li>
      <li>elemento uno</li>
      <li>elemento uno</li>
    </ul>
  </template>

  <script>
    /**
     * `hijo-uno`
     * creacion del hijo
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoUno extends Polymer.Element {
      static get is() { return 'hijo-uno'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo-uno'
          }
        };
      }
    }

    window.customElements.define(HijoUno.is, HijoUno);
  </script>
</dom-module>
